{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>She Codes News</title>
        <meta name="description" content="">
        <meta name="author" content="Debby Murphy">
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <header>
            <div id="header-text">
                <a id="header-link" href="{% url 'news:index' %}">
                    <h1>She {Codes} News</h1>
                </a>
            </div>
            {% include './nav.html' %}
        </header>

            <div id="add-story-link">
                {% if user.is_authenticated and request.get_full_path != "/news/add-story/" %}
                    <a href="{% url 'news:newsStory' %}">Write News Story</a>
                {% endif %}
            </div>

        {% block content %}{% endblock %}
    </body>
</html>
