
input {
    display: inline-block;
    float: left;
    width: 500px;
}

textarea {
    display: inline-block;
    float: left;
    width: 500px;
}

label {
    display: inline-block;
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    padding-right: 10px;
    font-size: 18px;
}

#submit_id {
    background-color: lightgray;
    display: inline-block;
    float: left;
    clear: left;
    width: 110px;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}
