#submit_id {
    background-color: lightgray;
    display: inline-block;
    float: left;
    clear: left;
    width: 160px;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
}

#account-details {
    min-width: 50vw;
    background-color: lightgray;
    padding: 40px;

}

#account-details img {
    height: 100px;
    width: 100%;
}

#account-details p {
    font-size: 16px;
}