{% extends "base.html" %}
{% load static %}    


{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

    <h2>View Articles By Author</h2>

    <div id="all-contributors">
        {% if authors %}
            {% for author in authors %}
                {% include "./authorCard.html" with author=author %}
            {% endfor %}
        {% else %}
            <p>No author overviews currently available.</p>
        {% endif %}
    </div>

{% endblock %}


