<!-- {% extends "base.html" %}
{% load static %}    


{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}

<div id="author-wrapper">
    <h2>{{ author.name }}</h2>
    <h4>{{ author.about }}</h4>
    <div id="story-content">
        <img src="{% static '/news/images/placeholder-5.jpg' %}">
        <!-- {{ story.content|linebreaks }} -->         <!-- PULL THROUGH STORIES THAT WERE WRITTEN BY THE SELECTED AUTHOR -->
    </div>
</div>

{% endblock %} -->